services:
  postgres:
    image: postgres:15-alpine
    container_name: shopapi-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: shopapi_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: shopapi-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data: